header, body {
    text-align: center !important;
    margin: 0%;
    padding: 0%;
}

body {
    background-color: #ffc0cb;
}

body, p {
    font-family: 'Arial', sans-serif;
    color: #333;
    line-height: 1.6;
}   

